<div class="fcontainer footBack">
    <p>Code hosted on <a href="https://github.com/Asthriona/Ashriona-Blog" target="_blank">GitHub</a>. Website hosted by
        <a href="https://SiriusMediaGroup.com" target="_blank" rel="noopener noreferrer">Sirius Media Group</a> DNS Powered by <a href="https://Asthriona.com" target="_blank" rel="noopener noreferrer">Asthriona ltd.</a></p>
    <p>Domaine Uptime: <span class="uptime">{{longTime}}</span><span class="timeJump"> (●'◡'●)ﾉ♥</span></p>
    <p>© Asthriona ltd 2019 -
        <script>
            document.write(new Date().getFullYear())
        </script> <a href="https://Asthriona.com">Asthriona</a>. Theme By
        <a href="https://Asthriona.com/" target="_blank">Asthriona</a>.</p>
    <p>Credit: Nako's art by <a href="http://twitter.com/lgisdead" target="_blank" rel="noopener noreferrer">lgisdead</a></p>
    <p><span>Made with</span>❤️ <span>by Asthriona.</span></p>
</div>

<!--Jquery-->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<!--boostrap stuff-->
<script src="/js/boostrap/bootstrap.bundle.min.js"></script>

<!-- Custom Scripts.-->
<script src="/js/main.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-58921326-3"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-58921326-3');
</script>
<script>
    ! function(g, s, q, r, d) {
        r = g[r] = g[r] || function() {
            (r.q = r.q || []).push(
                arguments)
        };
        d = s.createElement(q);
        q = s.getElementsByTagName(q)[0];
        d.src = '//d1l6p2sc9645hc.cloudfront.net/tracker.js';
        q.parentNode.
        insertBefore(d, q)
    }(window, document, 'script', '_gs');

    _gs('GSN-619873-I');
</script>
</body>

</html>