    <header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="tridi">Asthriona</h1><br><br>
        <div class="social ">
            <h3 class="void">The void is my kingdom.</h3>
            <h3 class="tridi2">
                <a href="https://twitter.com/Asthriona"><i class="fab fa-twitter"></i></a> &#x25cf; <a href="https://www.instagram.com/asthrionaa/"><i class="fab fa-instagram"></i></a> &#x25cf; <a href="https://github.com/Asthriona"><i class="fab fa-github"></i></a> &#x25cf; <a href="https://www.instagram.com/tw_alinnaya/"><i class="fas fa-dragon"></i></a>
            </h3>
        </div>        
      </div>
    </div>
  </div>
</headerNav>
    <header class="main-header">
        <nav class="main-nav">
            <ul class="nav-links">
                <li class="nav-link nuxt-link-exact-active nuxt-link-active"><a href="/">Home</a></li>
                <li><a href="//blog.asthriona.com" class="nav-link">All Post</a></li>
                <li><a href="//blog.asthriona.com/about">About</a></li>
            </ul>
        </nav>
    </headerNav>

<section class="me">
    <div class="col-md-12">
        <h1 class="offset-1">Who am I ?</h1>
        <p class="offset-2">Hi! I'm Asthriona, and I dont have name. people call me weeb.<br>
        I'm Friendly, Everyone like me... I dont know why.<br>
        I love anime (That's maybe why ppl call me weeb.), Playing Video Games, Mainly WoW. I'm part of The Wall, The best WoW EU Guild.<br>
        I code stuff sometimes, I work for <a href="https://SiriusMediaGroup.com" target="blank1">Sirius Media Group</a> as Developer and producer.<br>
        I like making audio visual stuff. That's why i'm Working at <a href="https://SiriusMediaGroup.com">Sirius Media Group</a> But they ask me to code stuff all the time for <a href="https://nuxarch.com" target="blank2">NuxArch</a>.<br>
        I hate coding, but I like this feeling when you done, so I love coding. (Dont ask.)<br>
        I've learn server stuff, which I like a lot, managing servers is funny.<br>
        I hate sleeping, but I sleep a lot, then I hate myself.<br>
        I love music and Dank Meme. I'm also a PewDiePie subscriber for around 9 years. (NOOOOO STEFANOOOOOOO! :c)<br>
        I love great art, My fav artist are <a href="http://Twitter.com/lgisdead" target="_blank" rel="noopener noreferrer">lgisdead</a> and <a href="http://twitter.com/bobberwcc" target="_blank" rel="noopener noreferrer">BobberWCC</a><br>
        And i hate talking about me.</p>
    </div>
</section>
<section class="what">
    <div class="col-md-12">
        <h1 class="offset-1">What did I do Everyday?</h1>
        <p class="offset-2">
            I'm One of the founder of AnimeFM, the replacement of Cloudsdale Radio. I'm also the lead Producer/Project/Team manager of Sirius Media Group and Cloudsdale Group
            I also deal the the Sirius Media Group Warehouse and Datacenter. I'm Dev for Sirius Media Group, CloudsdaleGroup, RainboomStudio & NuxArch.<br>
            I play WoW and OSU! a lot, It's one of my biggest time consuming things.<br>
            I also make Let's play on YouTube to show games to my friend.<br>
        </p>
    </div>
</section>
<section class="wow">
    <div class="col-md-12">
        <h1 class="offset-1">World Of Warcraft</h1>
        <p class="offset-2">This game became a big part of my life, I play since end of Burning Crusade.<br>
        My oldest archivement is <a href="https://www.wowhead.com/achievement=4400/wows-5th-anniversary" target="blank3">[WoW's 5th Anniversary]</a><br>
        I mainly play Deamon Hunter Level 120 called Alynnia on Turalyon, But I moved to Magtheridon to join friend of The Wall.<br>
        On Magtheridon I mainly play a Deamon Hunter Havoc Called <a href="">Allinaya</a>, And a Space Goat Pladin <a href="https://worldofwarcraft.com/en-gb/character/eu/magtheridon/alestra">"Alestra"</a> (I like paladin).</p>
    </div>
</section>
<!--<section class="waifu">
    <div class="col-md-12">
        <h2 class="offset-1">Best Waifu</h2>
        <p class="offset-2">Top 5 Best waifu. Everyone who disagree with this classement is wrong.</p>
        <div class="waifuimg" style="height: 16%;">
            <a href="https://anilist.co/character/24512/Masami-Iwasawa" target="blank5"><img src="https://s4.anilist.co/file/anilistcdn/character/large/24512.jpg" title="岩沢まさみ" alt="岩沢まさみ" style="width: 16%;"></a>
            <a href="https://anilist.co/character/34470/Kurisu-Makise" target="blank4"><img src="https://s4.anilist.co/file/anilistcdn/character/large/b34470-iPv1JxglAfpD.png" title="牧瀬紅莉栖" alt="牧瀬紅莉栖" style="width: 16%;"></a>
            <a href="https://anilist.co/character/123213/Suzune-Horikita&" target="blank6"><img src="https://s4.anilist.co/file/anilistcdn/character/large/123213-3LIiE8HHpKWY.jpg" title="堀北 鈴音" alt="堀北 鈴音" style="width: 16%;"></a>
            <a href="https://anilist.co/character/124381/Zero-Two" target="blank7"><img src="https://s4.anilist.co/file/anilistcdn/character/large/b124381-yqfvjDCDdjTb.jpg" title="ゼロツ" alt="ゼロツ" style="width: 16%;"></a>
            <a href="https://anilist.co/character/88951/Nao-Tomori" target="blank8"><img src="https://s4.anilist.co/file/anilistcdn/character/large/88951-bRm610RrrXp9.jpg" title="友利 奈緒" alt="友利 奈緒" style="width: 16%;"></a>
            <a href="https://anilist.co/character/52885/Kazama-Levi" target="_blank" rel="noopener noreferrer"><img src="https://s4.anilist.co/file/anilistcdn/character/large/52885-jjs2AOX5Bvun.jpg" alt="Kazama Levi" style="width: 16%;"></a><br>
            <small class="nab"><strike>i'm not a weeb! >:c</strike><br><a href="https://twitter.com/AcePictureBot/status/1185885984052912128" target="_blank" rel="noopener noreferrer">Okay! Fine! i'am! u_u</a></small>
        </div>
    </div>
</section>-->
<section class="contact">
    <div class="col-md-12">
        <h1 class="offset-1">Contact</h1>
        <p class="offset-1">
            You want to contact me? Cool, use the form below :)
        </p>
        <form class="form" action="https://formspree.io/im@asthriona.com" method="POST">

            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">

            <label for="Subject">Subject</label>
            <select id="Subject" name="Subject">
            <option value="He didnt say anything D:"></option>
            <option value="Drink a beer">Drink a beer.</option>
            <option value="Ask help on a project">Ask help on a project.</option>
            <option value="Join a project">Join a project.</option>
            <option value="I need a friend">I feel lonely, I want a new friend.</option>
            </select>

            <label for="text">Your text</label>
            <textarea id="text" name="text" placeholder="Tell me everything on your mind..." style="height:200px"></textarea>

            <input type="submit" value="Submit">

        </form>
    </div>
</section>
<section class="credit">
<p class="text-center"><small class="nab"> </small></p>
</section>