<%- include('partials/header') %>
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="tridi">Asthriona</h1><br><br>
                    <div class="social ">
                        <!--<h3 class="void">The void is my kingdom.</h3>-->
                        <h3 class="void">Merry Christmas!</h3>
                        <h3 class="tridi2">
                            <a href="https://twitter.com/Asthriona"><i class="fab fa-twitter"></i></a> &#x25cf; <a href="https://www.instagram.com/asthrionaa/"><i class="fab fa-instagram"></i></a> &#x25cf;
                            <a href="https://github.com/Asthriona"><i class="fab fa-github"></i></a> &#x25cf; <a href="https://www.instagram.com/tw_alinnaya/"><i class="fas fa-dragon"></i></a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        </headerNav>
        <header class="main-header">
            <nav class="main-nav">
                <ul class="nav-links">
                    <li class="nav-link nuxt-link-exact-active nuxt-link-active"><a href="/">Home</a></li>
                    <li><a href="//blog.asthriona.com" class="nav-link">All Post</a></li>
                    <li><a href="//blog.asthriona.com/about">About</a></li>
                    <a rel="me" href="https://mstdn.jp/@Asthriona"></a>
                </ul>
            </nav>
            </headerNav>

            <section class="me">
                <div class="col-md-12">
                    <h1 class="offset-1">Who am I ?</h1>
                    <p class="offset-2">Hi! I'm Asthriona, Mako, Freyja, Weeb, "Hey you!" call me as you wish.<br> I'm Friendly, Everyone like me... I dont know why.<br> I love anime (That's maybe why ppl call me weeb.), Playing Video Games, Mainly WoW. I'm part of The Wall
                        and Eternal Veangeance, The best WoW EU Guilds.<br> I code stuff and sometimes it works, so sometimes I'm helping on differant project<br> I like making audio visual stuff.<br> I hate coding, but I like this feeling when you done,
                        so I love coding. (Dont ask.)<br> I've learn server stuff, which I like a lot, managing servers is funny.<br> I have <a href="https://en.wikipedia.org/wiki/Hypersomnia" target="_blank" rel="noopener noreferrer">Hypersomnia</a>,
                        and <a href="https://en.wikipedia.org/wiki/Brugada_syndrome" target="_blank" rel="noopener noreferrer">Brugada syndrome</a>.<br> I love music and Dank Meme. I'm also a PewDiePie subscriber for +10 years. (NOOOOO STEFANOOOOOOO!
                        :c)
                        <br> I love great art, My fav artist are <a href="http://Twitter.com/lgisdead" target="_blank" rel="noopener noreferrer">lgisdead</a> and <a href="http://twitter.com/bobberwcc" target="_blank" rel="noopener noreferrer">BobberWCC</a><br>                        And i hate talking about me.</p>
                </div>
            </section>
            <section class="what">
                <div class="col-md-12">
                    <h1 class="offset-1">What did I do Everyday?</h1>
                    <p class="offset-2">
                        I'm mostly working on personal Project Like <a href="https://yukiko.app" target="_blank" rel="noopener noreferrer">Yukiko</a>, Freyja, Watcher, Loky, Asthriona networks.<br> Playing video games is also a big part of my life since
                        i'm able to hold a controler.<br> i've got promoted admin of <a href="EternalVeangeance.ovh" target="_blank">Eternal Veangeance</a>, wich is a WoW Guilds and comunity around gaming in general.<br> I'm their main tank (M+ player
                        92th thank of Maggi in S4), But also managing part of the guild events, and official developper.<br> In the real world I'm a Network Engineer and kinda lost developper, Still learning.
                    </p>
                </div>
            </section>
            <section class="works">
                <div class="team">
                    <h1 class="offset-1">My Works:</h1>
                    <div class="container">
                        <div class="row">
                            <div class="column">
                                <div class="card hoverable">
                                    <a href="https://thewall.ovh/" target="_blank">
                                        <img src="https://asthriona.s3.fr-par.scw.cloud/img/2020/12/TheWallAsh.jpg" alt="The Wall" style="width:100%;">
                                    </a>
                                    <div class="container">
                                        <h3>The Wall</h3>
                                        <p class="title">WoW Guild website<br>> ExpressJS</p>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="card hoverable">
                                    <a href="https://yukiko.app/" target="_blank1">
                                        <img src="https://asthriona.s3.fr-par.scw.cloud/img/2020/12/YukikoAsh.jpg" alt="Acrylix" style="width:100%;">
                                    </a>
                                    <div class="container">
                                        <h3>Yukiko</h3>
                                        <p class="title">NodeJS Discord bot <br>> Discord.js</p>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="card hoverable">
                                    <a href="https://AnimeFM.co" target="_blank2">
                                        <img src="https://asthriona.s3.fr-par.scw.cloud/img/2020/12/AnimeFMAsh.jpg" alt="AnimeFM" style="width:100%;">
                                    </a>
                                    <div class="container">
                                        <h3>AnimeFM</h3>
                                        <p class="title">Japan related web radio <br>> Vue and Nuxt.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="card hoverable">
                                    <a href="https://Asthriona.com" target="_blank3">
                                        <img src="https://asthriona.s3.fr-par.scw.cloud/img/2020/12/AshASh.jpg" alt="Asthriona Networks" style="width:100%;">
                                    </a>
                                    <div class="container">
                                        <h3>Asthriona</h3>
                                        <p class="title">Personal Site & blog <br>Express</p>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="card hoverable">
                                    <a href="#" target="_blank4">
                                        <img src="https://asthriona.s3.fr-par.scw.cloud/img/2020/12/CRAsh.jpg" alt="Cloudsdale Radio" style="width:100%;">
                                    </a>
                                    <div class="container">
                                        <h5>Cloudsdale Radio</h5>
                                        <p class="title">My Little Pony webradio <br>Express/Azuracast</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="wow">
                <div class="col-md-12">
                    <h1 class="offset-1">World Of Warcraft</h1>
                    <p class="offset-2">This game became a big part of my life, I play since end of Burning Crusade.<br> My oldest archivement is <a href="https://www.wowhead.com/achievement=4400/wows-5th-anniversary" target="blank3">[WoW's 5th Anniversary]</a><br> I mainly
                        play Death Knight Level 120 called Mâkoto on Magtheridon.<br> Also play a second "Main" character called <a href="https://worldofwarcraft.com/en-gb/character/eu/magtheridon/alestra">"Alestra"</a> It's a space goat Pladin (I like
                        paladin) and gearing up a Druid restauration called <a href="https://worldofwarcraft.com/en-gb/character/eu/magtheridon/Maryy">"Maryy"</a></p>
                </div>
            </section>
            <section class="contact">
                <div class="col-md-12">
                    <h1 class="offset-1">Contact</h1>
                    <p class="offset-1">
                        You want to contact me? Cool, use the form below :)
                    </p>
                    <form class="form" action="https://formspree.io/im@asthriona.com" method="POST">

                        <label for="fname">First Name</label>
                        <input type="text" id="fname" name="firstname" placeholder="Your name..">

                        <label for="lname">Last Name</label>
                        <input type="text" id="lname" name="lastname" placeholder="Your last name..">

                        <label for="Subject">Subject</label>
                        <select id="Subject" name="Subject">
                        <option value="He didnt say anything D:"></option>
                        <option value="Drink a beer">Drink a beer.</option>
                        <option value="Ask help on a project">Ask help on a project.</option>
                        <option value="Join a project">Join a project.</option>
                        <option value="I need a friend">I feel lonely, I want a new friend.</option>
                    </select>

                        <label for="text">Your text</label>
                        <textarea id="text" name="text" placeholder="Tell me everything on your mind..." style="height:200px"></textarea>

                        <input type="submit" value="Submit">
                        <small>Please do not use this form to get any Yukiko's support, I will not reply on any mail sent here.<br>
                    for Yukiko please use <a href="mailto:contact@yukiko.app"></a>contact@yukiko.app. Thanks!</small>
                    </form>
                </div>
            </section>
            <section class="credit">
                <p class="text-center"><small class="nab"> </small></p>
            </section>
            <%- include('partials/footer') %>