<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" tag="initial-scale">

  <title>Asthriona {{title}} </title>
  <link rel="stylesheet" href="/fa/css/all.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/boostrap/bootstrap.min.css">
  <!-- Boring SEO Stuff... -->
  <meta name="description"
    content="Hi! I'm Asthriona, and I dont have name. people call me weeb. I'm Friendly, Everyone like me... I dont know why. I love anime (That's maybe why ppl call me weeb.)Playing Video Games, Mainly WoW. I'm part of The Wall, The best WoW EU Guild. I code stuff sometimes, I work for Sirius Media Group</a> as Developer and producer.">
  <meta name="keywords"
    content="Asthriona,Sirius,media,group,nux,arch,cloudsdale,radio,brony,weeb,anime,developer,english,french,waifu">
  <meta name="author" content="Asthriona">

  <!--FavIco-->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- TWITTER CARDS!-->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="Asthriona" />
  <meta name="twitter:creator" content="@Asthriona" />
  <meta property="og:url" content="http://asthriona.com/" />
  <meta property="og:title" content="Asthriona" />
  <meta property="og:description" content="Hi! I'm Asthriona, and I dont have name." />
  <meta name="twitter:image" content="https://cdn.siriushd.net/chrome_BqyTEO9jr3.png" />
</head>

<body>
  {{{body}}}

  <div class="fcontainer footBack">
    <p>Code hosted on <a href="https://github.com/Asthriona/Ashriona-Blog" target="_blank">GitHub</a>. Website hosted by
      <a href="https://SiriusMediaGroup.com" target="_blank" rel="noopener noreferrer">Sirius Media Group</a> DNS
      Powered by <a href="https://Asthriona.com" target="_blank" rel="noopener noreferrer">Asthriona ltd.</a></p>
    <p>Domaine Uptime: <span class="uptime">{{longTime}}</span><span class="timeJump"> (●'◡'●)ﾉ♥</span></p>
    <p>© Asthriona ltd 2019 -
      <script>document.write(new Date().getFullYear())</script> <a href="https://Asthriona.com">Asthriona</a>. Theme By
      <a href="https://Asthriona.com/" target="_blank">Asthriona</a>.</p>
    <p>Credit: Nako's art by <a href="http://twitter.com/lgisdead" target="_blank"
        rel="noopener noreferrer">lgisdead</a></p>
    <p><span>Made with</span>❤️ <span>by Asthriona.</span></p>
  </div>

  <!--Jquery-->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

  <!--boostrap stuff-->
  <script src="/js/boostrap/bootstrap.bundle.min.js"></script>

  <!-- Custom Scripts.-->
  <script src="/js/main.js"></script>
</body>

</html>