<!DOCTYPE html>
<html ⚡>

<head>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" tag="initial-scale">

  <title>Asthriona {{title}} </title>
  <link rel="stylesheet" href="/fa/css/all.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Boring SEO Stuff... -->
  <meta name="description"
    content="Hi! I'm Asthriona, and I dont have name. people call me weeb. I'm Friendly, Everyone like me... I dont know why. I love anime (That's maybe why ppl call me weeb.)Playing Video Games, Mainly WoW. I'm part of The Wall, The best WoW EU Guild. I code stuff sometimes, I work for Sirius Media Group</a> as Developer and producer.">
  <meta name="keywords"
    content="Asthriona,Sirius,media,group,nux,arch,cloudsdale,radio,brony,weeb,anime,developer,english,french,waifu">
  <meta name="author" content="Asthriona">

  <!--FavIco-->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- TWITTER CARDS!-->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="Asthriona" />
  <meta name="twitter:creator" content="@Asthriona" />
  <meta property="og:url" content="http://asthriona.com/" />
  <meta property="og:title" content="Asthriona" />
  <meta property="og:description" content="Hi! I'm Asthriona, and I dont have name." />
  <meta name="twitter:image" content="https://cdn.siriushd.net/chrome_BqyTEO9jr3.png" />

  <!--APM Thinggy -->
  <style amp-boilerplate>
    body {
      -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      animation: -amp-start 8s steps(1, end) 0s 1 normal both
    }

    @-webkit-keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }

    @-moz-keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }

    @-ms-keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }

    @-o-keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }

    @keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }
  </style><noscript>
    <style amp-boilerplate>
      body {
        -webkit-animation: none;
        -moz-animation: none;
        -ms-animation: none;
        animation: none
      }
    </style>
  </noscript>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
</head>

<body>
  {{{body}}}

  <div class="fcontainer footBack">
    <p>Code hosted on <a href="https://github.com/Asthriona/Ashriona-Blog" target="_blank">GitHub</a>. Website hosted by
      <a href="https://SiriusMediaGroup.com" target="_blank" rel="noopener noreferrer">Sirius Media Group</a> DNS
      Powered by <a href="https://Asthriona.com" target="_blank" rel="noopener noreferrer">Asthriona ltd.</a></p>
    <p>Domaine Uptime: <span class="uptime">{{longTime}}</span><span class="timeJump"> (●'◡'●)ﾉ♥</span></p>
    <p>© Asthriona ltd 2019 -
      <script>document.write(new Date().getFullYear())</script> <a href="https://Asthriona.com">Asthriona</a>. Theme By
      <a href="https://Asthriona.com/" target="_blank">Asthriona</a>.</p>
    <p><span>Made with</span>❤️ <span>by Asthriona.</span></p>
  </div>
  <!--boostrap stuff-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script>
    console.log('%c Asthriona', 'font-size:100px;color:#fff;text-shadow:0 3px 0 #ccc,0 2px 0 #c9c9c9,0 3px 0 #bbb,0 4px 0 #b9b9b9,0 5px 0 #aaa,0 6px 1px rgba(0,0,0,.1),0 0 5px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.3),0 3px 5px rgba(0,0,0,.2),0 5px 10px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.2),0 20px 20px rgba(0,0,0,.15);')
    console.log("Website developed by Asthriona")
    console.log("Hosted by Sirius Media Group")
    console.log("GitHub: https://github.com/Asthriona/Asthriona.com")
  </script>
  <script>
    var oldTime = new Date('2019/02/19 19:09:00');
    var timer = setInterval(function () {
      var nowTime = new Date();
      var longTime = nowTime - oldTime;
      var days = parseInt(longTime / 1000 / 60 / 60 / 24, 10);
      var hours = parseInt(longTime / 1000 / 60 / 60 % 24, 10);
      var minutes = parseInt(longTime / 1000 / 60 % 60, 10);
      var seconds = parseInt(longTime / 1000 % 60, 10);
      $('.uptime').html(longTime = days + " Days " + hours + " Hours " + minutes + " Minutes and " + seconds + " seconds");
    }, 1000);
  </script>
</body>

</html>