<div class="container">
    <div class="row">
        <h1>About me.</h1>
        <p>Hum... Hi! :)<br>
        Okay, I'm not the kind of persone who is really open about his feeling or anything else, But I need to get that out of the way.<br>
        I dont want anyone think I'm some kind of weirdo or whatever, and That's a problem I dont know how to get rid of.<br>
        By the way, Thanks for reading, and don't worry if you don't read everything, It's gonna be pretty long, and my english is not perfect. (Sorry :c) So I can totaly understand.
        btw, if someone already got in that situation and sucessfully get out of it, first of all congrats, and second, Feel free to contact me if you have any tips that could help, It will be really apreciate!<br>
        <b>and There is a Tl;Dr at the bottom</b> 
        </p>
        <p>
            I used to be a content creator for like 7 or 8 years, everything was in french, And I had fun to manage this even if I didn't really post constently, but it was fun.<br>
            I love talking in a microphone, That's what i'm made for you know?, But the thing is I'm trash to talk with people, I mean IRL. Not I don't want to, In fact I'm jealouse 
            of those people who can talk to anyone in the street just like that and having a good time talking with them. Me AHAH... I can't. I'm scared. For exemple, at work or at School,
            if I had something to ask to someone, I needed to take all the courrage I had in me, just to walk to them, and I allways end-up run out of courrage to engage the discution. 
            If someone come to talk with me that fine! I just sound a bit agressive sometimes. but if we are juste randoly talking, don't worry, I never mean it.
            One day I discover the social anxety things, and notice the description was fiting me perfectly, and then I know I had to see a Doctor, And it's confimed. I have a Social anxiety disorder. (yay...)<br>
            Add to this I'm hightly depressive and you make someone want to kill himself (I dont, I mean not anymore.)<br>
            but I get used to talk to everyone pretty easly online, I played RP for a really long time, and it was a lot of fun!.<br>
        </p>
        <p>
            not long ago I got whitelisted on GTA TwitchRP, (probably here because of that btw) and I notice, I panic everytime I need to talk to someone, EMS, SASP, stranger...<br>
            So I just have to wait for someone to come talk to me, But it's the same! and it made me notice, It's not only on GTARP, I'm scared to DM friends too... I'm stuck in a situation I dont know how to get out of it.
            It's like a loop someone come to talk, make a new friend, lost contact because i'm scared and start panicking... When I have to talk to someone it's like I'm going to confess my feeling about a girl you know?
            but with everyone. and any subject. I hope I can find help for this, but I dont know where to go, and how to... yeah engage the conversation you know?
            So If I sound agressive, Upset, or just not talking much, It's not against you. not at all, i'm Just scared ^^'<br>
            <b>Tl;Dr</b> I'm diagnosed with a <b>Social anxiety disorder</b> and it get worst with time. So please don't mind if I sound agressive, empty, or just not talking much ^^'<br>
        </p>
        <p>
            <br><b>Thanks for reading :)</b>
        </p>
    </div>
</div>