<div class="container-fluid">
    <div class="row">
        <h1 class="col col-md-12 streamName">AsthrionaTV | Offline</h1>
        <div class="col col-md-8 twitchplayer"><iframe src="https://player.twitch.tv/?channel=Asthriona" frameborder="0" allowfullscreen="true" scrolling="no" height="720px" width="1280px"></iframe></div>
        <div class=" col col-md-3 d-none d-xl-block chat"><iframe src="https://www.twitch.tv/embed/Asthriona/chat?darkpopout" frameborder="0" scrolling="no" height="720" width="100%"></iframe></div><br>
        <h3 class="col col-md-12 gameName"></h3>
    </div>
</div>