<div class="container">
<center><h1>Q&amp;A</h1>
<p>Here you can find all the answer to any question you have!</p></center>
<p>
    <b>Q: Why should I pay this price for a keyboard?</b><br>
    <b>A:</b> This keyboard will be unique Only you have it. you can make it as you wish, and make it feel as you wish. you can customize it even after commands all by yourself.
    you can change your keycaps, change the PCB, change the switch... Also a good keyboardd is allways better for productivity, and it's upgradable!<br>
</p>
<p>
    <b>Q: What's Switch Lube ?</b><br>
    A: Switch Lubrification make you switch feel better, it change the feel when you press a key. make it... smoother. this is also a long process,I have to isassamble every switch lube them an re put them together.
</p>
<p>
    <b>Q: What is In progress pictures ?</b>
    A: I will take a picture at every stage of the build, and send them to you via discord, e-mail, or client aera.
</p>
<p>
    <b>Q: What is the build video option?</b>
    A: I will film the whole process and send it to you via Discord, e-mail or client aera.
</p>
<p>
    <b>Q: What is Private Live stream option?</b>
    A: I will live stream on youtube (in private) the whole process like this you can directly interact with me while i build your keyboard and ask any question you have about the process.
</p>
<p>
    <b>Q: What is the Maintenance option?</b>
    A: With this option, if you have an issue with your keyboard or need to clean it, you just have to send me an e-mail and I will send you what you need to send your keyboard back to me for free, I will do the maintenance and send it back to you, all on my charge.
</p>
<center><p>Any other question ? <a href="mailto:keyboard@asthriona.com">Send me an E-mail!</a></p></center>
<!--Template
<p>
    <b>Q: </b>
    A: 
</p>
-->
</div>