<div class="container">

    <h1 class="title">Let's build your Keyboard!</h1>
    <p class="ttext">
        Keyboard is a device most of you using intensivly everyday, for gaming, typing, developement, etc... but most people buy cheap one. usualy membrane keyboard.
        Mechanical keyboard have different positive aspect, like durability, differant feel when you press the key for exemple. they also more comfy to type on.
        you can find pre-build mechanical keyboard, usually cost at least 300$ for a good one, or you can get a custom build keyboard for kinda the same price.
        and with this solution you can fully customize you keyboard, Like the case, the switches, the plate in differant color, RGB, keycaps. seize, layout...
        the only cons... you have to build it yourself, and this process can take time.<br>
        That's why I selling custom keyboard I build for you!<br>
        and for this you have multiple option:<br>
        You select the part buy them and send them to me, or you tell me what you want, I select the part buy them and send you the build keybord.
    </p>
    <h2 class="price">The Price:</h2>
    <h4 class="prebuild">I select your part</h4>
    <p>
        Asking me to select the part will cost you a litle more, because I have to take time to find the best part that fit to your requst.<br>
        Part selection will cost you 100$ plus the part, plus the build process. (build price depend on your layout. they are defind below.)
    </p>
    <h4 class="yb">You send me your part:</h4>
    <p>If you want to select your part yourself you just pay me for taking everything together, and ship it to you.<br>
    obvisouly if there is spare part (keycaps or rings for exemple) I send them back to you with the keyboard.
    <ul>
        <li><b>under 60% keyboard:</b> 50$</li>
        <li><b>60% keyboard:</b> 80$</li>
        <li><b>65% keyboard:</b> 90$</li>
        <li><b>75% keyboard:</b> 100$</li>
        <li><b>80% keyboard:</b> 110$</li>
        <li><b>Larger keyboard:</b> On demand</li>
    </ul>
    </p>
    <h4>Option:</h4>
    <ul>
        <li><b>Switch Lube:</b> 50$</li>
        <li><b>In progress pictures:</b> 10$</li>
        <li><b>Build video:</b> 20$</li>
        <li><b>Private LiveStream:</b> 40$</li>
        <li><b>3 Years Maintenance:</b> 100$</li>
    </ul>
    <p class="commands">Want to get a better keyboard ? <a href="#commands">Click here now!</a></p>
</div>