<div id="post" v-editable="blok">
    <div class="post-thumbnail" :style="{backgroundImage: 'url(' + image + ')'}"></div>
    <section class="post-content">
        <h1>{{ title }}</h1>
        <p>{{ content }}</p>
    </section>
</div>

<script>

</script>